/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3-rd-party/font-awesome.min.css";

/* components */ /* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/forms.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* custom style goes below this line */
.hero {
  padding-bottom: 20px;
}

.hero > .row-short {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* Taip apsirašom logo dėl SEO */
.logo {
  height: 64px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
}

.main-title {
  font-size: 70px;
  text-transform: uppercase;
}

.main-description {
  font-size: 20px;
}

.clock {
  margin: 40px 0;
}

footer.container {
  padding-top: 0;
}

@media (max-width: 480px) {
  .main-title {
    font-size: 64px;
  }
} ;
